doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "NVC-it.ru - главная страница"
		link(
			rel="stylesheet",
			href="/css/style.min.css"
		)
		script(src='/js/libs.min.js')
		script(src='/js/main.js')
	body.home
		include ../parts/header/header.pug
		include ../parts/main/index.pug
		include ../parts/footer/footer.pug
